<ion-header>
  <ion-toolbar>
    <ion-title padding center text-center>ToDoolie</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding center>
  <div class="ion-padding">
    <ion-title padding center text-center>Student Ambassador Login</ion-title>
    <ion-list>
    <ion-item>
<!-- changed the input fields to this format using ngModel so they can be used in login.page.ts file with "this.username" -->
  <ion-input type="text" required placeholder="Username" [(ngModel)]="username" ></ion-input> 
  </ion-item>
  <ion-item>
    <!-- changed the input fields to this format using ngModel so they can be used in login.page.ts file with "this.password" -->
      <ion-input type="password" required placeholder="Password" [(ngModel)]="password" ></ion-input>
  
  </ion-item>
  </ion-list>
  <ion-button (click)='login()' expand="block">Login</ion-button>
</div>
</ion-content>