<ion-header>
    <ion-toolbar color="primary" >
    <ion-title padding center text-center>Student Ambassador Program</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="page1">

  <div class="spacer" style="height:20px;"></div>

  <div class="loginPic">
      <ion-img style="width: 312px; height:161px;" src='../../../assets/img/logo.png'></ion-img>
    </div>
  <div id="page-markdown2" style="text-align:center;">
  <!-- <h1 id="page-heading1" style=" color: #f26522; text-align:center;">
    Welcome to ToDoolie!
  </h1> -->

  </div>
  <div class="spacer" style="height:40px;"></div>

  
    <ion-item >
      <ion-input  type="text" pattern="^[a-zA-Z\s']+$" required placeholder="Username" [(ngModel)]="username">
      </ion-input>
    </ion-item>

    <div class="spacer" style="height:2px;"></div>

    <ion-item>
      <ion-input type="password" required placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  

  <div class="btn-wrapper">
    <ion-button class="page-button1" (click)='login()' color="primary" expand="block">Login</ion-button>


    <div class="spacer" style="height:60px;"></div>
    <div class="loginPic">
      <ion-img style="width: 312px; height:161px;" src='../../../assets/img/login2.jpg'></ion-img>
    </div>
  
  </div>
</ion-content>