<!-- <ion-header>
  <ion-toolbar>
    <ion-title padding center text-center>Student Ambassador Program</ion-title>
  </ion-toolbar>
</ion-header>
  -->
  <ion-content class="page1">

    <div class="spacer" style="height:100px;"></div>

  <h1 id="page-heading1" style=" color: #f26522; text-align:center;">
    Welcome to ToDoolie!
  </h1>


  <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      What&#39;s your ToDo?
    </p>
  </div>


    <ion-list>
    <ion-item>
  <ion-input type="text" pattern="^[a-zA-Z\s']+$" required placeholder="Username" [(ngModel)]="username" ></ion-input>
  </ion-item>
  <ion-item>
      <ion-input type="password" required placeholder="Password" [(ngModel)]="password" ></ion-input>
  </ion-item>
  </ion-list>

  <div class="btn-wrapper">
  <ion-button id="page-button1" (click)='login()' color="primary" expand="block">Login</ion-button>
</div>
</ion-content>