.page3{
    --background: url('../../../assets/img/rake-leaves.jpg') 0 0/100% 100% no-repeat;;
    
}


.dashPic{ max-width: 500px;  width: 50%;  margin: 0 auto; display:block;}



    ion-card {
      --position: relative;
      --text-align: center;
    //   --background: white;
      --background: rgba(255,255,255, 0.9);
    }
  
