<ion-header>
    <ion-toolbar color="primary" >
      <ion-buttons slot="start">
        <ion-button (click)='logout()'>
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
        <!-- <ion-button (click) = 'referout()'>
          <ion-icon slot = "icon-only" name = "document"></ion-icon>
        </ion-button> -->
      </ion-buttons>
      <ion-title style="text-align:center">Student Ambassador Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
   
  
  
  
  
  
  
  <ion-content padding class="page3">
    <div class="spacer" style="height:80px;"></div>
  
    <!-- <h1 id="page-heading1" style=" color: #f26522; text-align:center;">
      Welcome to ToDoolie!
    </h1>
    <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        What&#39;s your ToDo?
      </p>
    </div>
    <div class="spacer" style="height:40px;"></div> -->
  
    <ion-card>
      <ion-card-header >
        <ion-card-title style="text-align:center">Click Here To Make A Referral !</ion-card-title>
      </ion-card-header>
    
      <!-- <ion-card-content> -->
          <div class="spacer" style="height:20px;"></div>
        <ion-card-title style="text-align:center">
        You can get paid for referring a student to ToDoolie! If you'd like to send a referral to 
          ToDoolie, please click here.
        </ion-card-title>
        <div class="spacer" style="height:40px;"></div>
      <!-- </ion-card-content> -->
    </ion-card>
    
  <!-- <h2 style="text-align:center">Click Here To Make A Referral!</h2> -->
    <div class="btn-wrapper">
      <ion-button id="page-button1" (click)='referout()' color="primary" expand="block">Submit Referral</ion-button>
  
  
      <div class="spacer" style="height:60px;"></div>
      <!-- <div class="dashPic">
        <ion-img style="width: 600px; height:300px;" src='../../../assets/img/group.png'></ion-img>
      </div> -->
    
    </div>
  </ion-content>