<ion-header>
  <ion-toolbar>
    <ion-title padding center text-center>Referral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list> 
 <ion-item>
    <ion-label>Name : </ion-label>
    <ion-input type = "text" require placeholder = "name"  [(ngModel)]="name" ></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Email : </ion-label>
      <ion-input type = "text"pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input> require placeholder = "email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Age : </ion-label>
        <ion-input type = "number" require placeholder = "age" ngmodel maxLength = 2 [(ngModel)]="age"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>school : </ion-label>
          <ion-input type = "text" require placeholder = "school" [(ngModel)]="school"></ion-input>
        </ion-item>
      </ion-list> 
        <ion-button (click) ='payment(); refer()' expand = "block">refer-a-friend</ion-button>
</ion-content>
