<ion-header>
  <ion-toolbar>
    <ion-title padding center text-center>Referral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup] = "referral" (ngSubmit) = "referralForm()">
  <ion-item>
    <ion-label>Name : </ion-label>
    <ion-input type = "text" formControlName = "name"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Email : </ion-label>
      <ion-input type = "text" formControlName = "email" ngModel [email] = "true"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Age : </ion-label>
        <ion-input type = "number" formControlName = "age"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>school : </ion-label>
          <ion-input type = "text" formControlName = "school"></ion-input>
        </ion-item>
        <ion-button (click) = 'referIn()' expand = "block">refer-a-friend</ion-button>
</form>
</ion-content>
