.btn-wrapper{
    padding-top: 1em;
    text-align: center;
}

.page2{
    --background: url('../../../assets/img/BeginBG.jpeg') 0 0/100% 100% no-repeat;;
    
}
.page-heading1{
    color: #f26522; text-align:center;
}

